---
const { title, company, date, description, type, class:className, icons, style } = Astro.props;
---

<div class={`container ${className || ""}`}>

  <div class={`icons ${className || ""}`} style={style}>
    {icons && icons.length > 0 && (
      icons.map((Icon:any) => <Icon />)
    )}
  </div>

  <div class={`card ${className || ""}`} style={style}>

    <div class={`dates ${className || ""}`}>
      <p class="date">{date}</p>
      {type && <p class="type">{type}</p>}
    </div>

    <div class={`info ${className || ""}`}>
      <h3>{title}</h3>
      <p class="company">{company}</p>
      <p class="description">{description}</p>
    </div>

  </div>

</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-object-secondary);
    padding: 1rem;
  }
  .icons svg {
    width: 2.8rem;
    height: auto;
    aspect-ratio: 1;
    color: var(--color-object);
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  
  .dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-object);
    color: var(--color-object-secondary);
  }
  .dates .date {
    font-weight: 700;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--color-background-dark);
  }
  .info h3 {
    font-weight: 700;
  }
  .info p {
    font-size: 0.9rem;
  }
  .info .company {
    font-style: italic;
  }
  .info .description {
    margin-top: 1.3rem;
  }

  @media (min-width: 1024px) {
    .container {
      display: grid;
      gap: 3rem;
      width: 100%;
      box-shadow: none;
      overflow: visible;
      align-items: center;
    }
    .icons {
      width: 120px;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    .container.right {
      grid-template-areas: "icons card";
      grid-template-columns: 120px 1fr;
    }
    .icons.right {
      grid-area: icons;
      position: relative;
    }
    .icons.right::after {
      content: "";
      position: absolute;
      background: var(--color-object-secondary);
      width: 0;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      right: -55px;
      z-index: 1;
      animation: fillLeft 1s ease-in var(--delay-horizontal, 0s) forwards;
    }
    @keyframes fillLeft {
      from {
        width: 0;
      }
      to {
        width: 55px;
      }
    }
    .icons.right::before {
      content: "";
      position: absolute;
      background: var(--color-object-secondary);
      width: 2px;
      height: 0;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      animation: fillBottom 1s ease-in var(--delay-vertical, 0s) forwards;
    }
    @keyframes fillBottom {
      from {
        height: 0;
      }
      to {
        height: 160px;
      }
    }
    .icons.right.last::before {
      display: none;
    }
    .card.right {
      z-index: 5;
      grid-area: card;
      display: grid;   
      grid-template-areas: "dates info";
      grid-template-columns: auto 1fr;
      box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      overflow: hidden;
    }
    .info.right {
      grid-area: info;
      background-color: var(--color-background);
      border: 1px solid var(--color-object);
      border-radius: 0 5px 5px 0;
    }
    .dates.right {
      grid-area: dates;
    }

    .container.left {
      grid-template-areas: "card icons";
      grid-template-columns: 1fr 120px;
    }
    .icons.left {
      grid-area: icons;
      position: relative;
    }
    .icons.left::after {
      content: "";
      position: absolute;
      background: var(--color-object-secondary);
      width: 0;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      left: -55px;
      z-index: 1;
      animation: fillRight 1s ease-in var(--delay-horizontal, 0s) forwards;
    }
    @keyframes fillRight {
      from {
        width: 0;
      }
      to {
        width: 55px;
      }
    }
    .icons.left::before {
      content: "";
      position: absolute;
      background: var(--color-object-secondary);
      width: 2px;
      height: 0;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      animation: fillBottom 1s ease-in var(--delay-vertical, 0s) forwards;
    }
    .icons.left.last::before {
      display: none;
    }
    .card.left {
      z-index: 5;
      grid-area: card;
      display: grid;
      grid-template-areas: "info dates";
      grid-template-columns: 1fr auto;
      box-shadow: -5px 5px 6px 3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      overflow: hidden;
    }  
    .dates.left {
      grid-area: dates;
    }
    .info.left {
      grid-area: info;
      background-color: var(--color-background-dark);
    }

    .info p {
      font-size: 1rem;
    }
  }
</style>

