---
const { t, id } = Astro.props;

import FrontEnd from "../assets/icons/frontend.svg";
import BackEnd from "../assets/icons/backend.svg";
import GitHub from "../assets/icons/github.svg";

import ExperienceCard from "./ExperienceCard.astro";
---

<section id={id}>
  <div class="title">
    <hr />
    <h2>{t.experience.title}</h2>
    <hr />
  </div>
  <div class="timeline"> 
    <ExperienceCard
      icons={[FrontEnd, BackEnd]}
      title={t.experience.job1.title}
      company={t.experience.job1.company}
      date={t.experience.job1.date}
      description={t.experience.job1.description}
      type={t.experience.job1.type}
      class="right last"
      style="--delay-horizontal: 0s; --delay-vertical: 1s"
    />
  </div>
</section>

<style>
  section#experience {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    margin-block: 8rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  hr {
    flex: 1;
    border: none;
    border-top: 2px solid var(--color-text); 
    height: 0; 
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-inline: 1rem;
  }

  .timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  @media (min-width: 1024px) {
    .title {
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 1.3rem;
      margin-inline: 3rem;
    }
  }
</style>