---
import ProjectCard from './ProjectCard.astro';

import ArrowLeft from '../assets/icons/arrowleft.svg';
import ArrowRight from '../assets/icons/arrowright.svg';
import Square from '../assets/icons/square.svg'
import Link from '../assets/icons/link.svg';

import Laravel from '../assets/icons/laravel.svg';
import Vue from '../assets/icons/vue.svg';
import MySQL from '../assets/icons/mysql.svg';

import EstadisticasDesktop from '../assets/img/estadisticasdesktop.png';
import EstadisticasMobile from '../assets/img/estadisticasmobile.png';
import Buscaminas from '../assets/img/buscaminas.png';

const { id, t } = Astro.props;
---

<section id={id}>
  <h1>{t.projects.title}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <ProjectCard 
      t={t} 
      img={EstadisticasDesktop.src} 
      name="Visor de Estadisticas"
    />
    <ProjectCard 
      t={t} 
      img={Buscaminas.src}
      name="Buscaminas" 
    />
  </div>
</section>

<style>
  section#projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
  }

  h1 {
    font-size: 1.2rem;
    font-style: italic;
  }
</style>