---
import Link from '../assets/icons/link.svg';
import Github from '../assets/icons/github.svg';

const { img, name, company, description, stack, github, link } = Astro.props;
---

<article>
  <div class="card">
    
    <div class="face front">
      <img src={img} />
      <div class="background-text">
        <h2>{name}</h2>
      </div>
    </div>
  
    <div class="face back">
      <h2>{name}</h2>
      <p class="company">{company}</p>
      <p class="description">{description}</p>
      <div class="stack">
        <p>Stack:</p>
        {stack && stack.length > 0 && (
          stack.map((Icon:any) => <Icon />)
        )}
      </div>  
      <div class="links">
        {github && (
          <div class="links-container">
            <a href={github} target="_blank" rel="noopener noreferrer">
              <Github />
            </a>
          </div>
        )}
  
        {link && (
          <div class="links-container">
            <a href={link} target="_blank" rel="noopener noreferrer">
              <Link />
            </a>
          </div>
        )}
      </div>
    </div>

  </div>
</article>

<style>
  article {
    width: 100%;
    height: 400px;
  }
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
  }

  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
  }
  .front .background-text {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: fit-content;
    border-radius: 5px;
    background-color: var(--color-background);
  }
  .front .background-text h2 {
    padding-inline: 0.5rem;
    font-weight: 700;
  }

  .back {
    background-color: var(--color-background-dark);
    border: 1px solid var(--color-object);
    padding: 1rem;
    text-align: left;
    position: relative;
    transform: rotateY(180deg);
  }
  .back h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }
  .back p {
    font-size: 0.9rem;
  }
  .company {
    font-style: italic;
  }
  .description {
    margin-block: 1.3rem;
  }
  .stack {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .links {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    padding-inline: 1rem;
    display: flex;
  }
  .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .links-container a {
    padding-inline: 1rem;
    padding-block: 0.25rem;
    border-radius: 5px;
    border: 1px solid var(--color-object);
    background-color: var(--color-background-dark);
  }
  .links-container a:active {
    background-color: var(--color-object);
    color: var(--color-background);
  }

  @media (min-width: 1024px) {
    .card {
      cursor: pointer;
    }

    .back p {
      font-size: 1rem;
    }

    .links-container a:hover {
      background-color: var(--color-object);
      color: var(--color-background);
    }
  }
</style>