---
import ProjectCard from './ProjectCard.astro';

import ArrowLeft from '../assets/icons/arrowleft.svg';
import ArrowRight from '../assets/icons/arrowright.svg';
import Square from '../assets/icons/square.svg'
import Link from '../assets/icons/link.svg';

import Estadisticas from '../assets/img/estadisticas.png';
import Laravel from '../assets/icons/laravel.svg';
import Vue from '../assets/icons/vue.svg';
import MySQL from '../assets/icons/mysql.svg';

import Buscaminas from '../assets/img/buscaminas.png';
import Nuxt from '../assets/icons/nuxt.svg';
import Nest from '../assets/icons/nest.svg';
import PostgreSQL from '../assets/icons/postgresql.svg';
import AWS from '../assets/icons/aws.svg';

import HCE from '../assets/img/hce2.png';
import Angular from '../assets/icons/angular.svg';
import Net from '../assets/icons/net.svg';

const { id, t } = Astro.props;
---

<section id={id}>
  <div class="title">
    <hr />
    <h2>{t.projects.title}</h2>
    <hr />
  </div>
  <div class="projects-container">
    <ProjectCard 
      img={Buscaminas.src}
      name={t.projects.buscaminas.title}
      company={t.projects.buscaminas.company}
      description={t.projects.buscaminas.description}
      stack={[Nuxt, Nest, PostgreSQL, AWS]}
      github="https://github.com/lautaroBulla/Buscaminas"
      link="https://www.buscaminassa.com/"
    />
    <ProjectCard 
      img={Estadisticas.src} 
      name={t.projects.estadisticas.title}
      company={t.projects.estadisticas.company}
      description={t.projects.estadisticas.description}
      stack={[Vue, Laravel, MySQL]}
      link="https://servicios.sanjose.gub.uy/Estadisticas"
    />
    <ProjectCard 
      img={HCE.src} 
      name={t.projects.hce.title}
      company={t.projects.hce.company}
      description={t.projects.hce.description}
      stack={[Angular, Net, ]}
      github="https://github.com/rodrigodeleon26/.NET-Lab"
    /> 
  </div>
</section>

<style>
  section#projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    margin-block: 8rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  hr {
    flex: 1;
    border: none;
    border-top: 2px solid var(--color-text); 
    height: 0; 
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-inline: 1rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }

  @media (min-width: 1024px) {
    .title {
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 1.3rem;
      margin-inline: 3rem;
    }

    .projects-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>